.xsvg {
    stroke-width: 15px;
    stroke: #FF665C;
    fill: none;
    stroke-linecap: round;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.cross line:nth-of-type(1) {
    animation: 0.5s linear forwards draw;
}
  
.cross line:nth-of-type(2) {
    animation: 0.5s linear 0.2s forwards draw;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}