.tictactoe-wrapper {
    margin: 0.5rem;
    padding: 8rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    background-color: white;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    background-color: lightgray;
}

@media screen and (max-width: 500px) {

    .tictactoe-wrapper {
        border: solid 2px black;
    }

}

